<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script src="{% static "script.js" %}"></script>


</head>
<body>
<div class="auth">
    <a href="{% static "login.html" %}">Login</a>/<a href="{% static "registration.html" %}">Registration</a>
</div>


<div class="sidebar">
    <a id="add_el" class="create_new" href="#">create new</a><br>
</div>


<div id="root"></div>


<form action="/articles/add/" id="uploadForm" style="display: none">
    <ul class="errorMessages"></ul>

    Title:<br>
    <input type="text" name="title"><br>
    Text:<br>
    <textarea name="text" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Add">
</form>


</body>
</html>

